.eui-drop-down,
.eui-pc-region {
  display: inline-block;
  position: relative;
  padding: 4px;
  z-index: 1001;
  outline: none;
  height: 24px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.eui-drop-down > div,
.eui-pc-region > div {
  display: block;
  padding-right: 25px;
  padding-left: 4px;
}
.eui-drop-down > div > div,
.eui-pc-region > div > div {
  display: block;
  min-width: 80px;
  height: 26px;
  line-height: 26px;
  position: relative;
  cursor: default;
}
.eui-drop-down > div > div > span,
.eui-pc-region > div > div > span,
.eui-drop-down > div > div > label,
.eui-pc-region > div > div > label {
  display: block;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.eui-drop-down > div > i,
.eui-pc-region > div > i {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0px;
  top: 8px;
  font-size: 18px;
}
.eui-drop-down .eui-drop-down-list ul,
.eui-pc-region .eui-drop-down-list ul,
.eui-drop-down .eui-drop-down-list ul li,
.eui-pc-region .eui-drop-down-list ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.eui-drop-down .eui-drop-down-list,
.eui-pc-region .eui-drop-down-list {
  position: absolute;
  width: 100%;
  left: -1px;
  top: 30px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  -webkit-overflow-scrolling: touch;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -moz-calc(100% + 2px);
  width: -ms-calc(100% + 2px);
  width: -o-calc(100% + 2px);
}
.eui-drop-down .eui-drop-down-list > ul,
.eui-pc-region .eui-drop-down-list > ul {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.eui-drop-down .eui-drop-down-list > ul li,
.eui-pc-region .eui-drop-down-list > ul li {
  display: block;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
.eui-drop-down .eui-drop-down-list > ul li > div,
.eui-pc-region .eui-drop-down-list > ul li > div {
  display: block;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  padding: 0 5px;
}
.eui-drop-down .eui-drop-down-list > ul li > div span,
.eui-pc-region .eui-drop-down-list > ul li > div span,
.eui-drop-down .eui-drop-down-list > ul li > div i,
.eui-pc-region .eui-drop-down-list > ul li > div i {
  display: inline-block;
  vertical-align: middle;
}
.eui-drop-down .eui-drop-down-list > ul li > div i,
.eui-pc-region .eui-drop-down-list > ul li > div i {
  margin-right: 4px;
}
.eui-pc-region > div {
  min-width: 150px;
}
.eui-pc-region > div .eui-pc-region-display {
  font-size: 14px;
}
.eui-pc-region > div .eui-pc-region-display span {
  display: inline-block;
  position: relative;
  padding: 0 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.eui-pc-region > div .eui-pc-region-display span:hover {
  background: #e9f6ff;
  color: #58b5f3;
}
.eui-pc-region > div .eui-pc-region-display .split {
  margin-left: 5px;
}
.eui-pc-region > div .eui-pc-region-display .split::before {
  display: inline-block;
  content: "/";
  left: -5px;
  color: #999 !important;
  position: absolute;
}
.eui-pc-region .eui-drop-down-list {
  height: auto !important;
  width: auto !important;
  min-width: calc(100% + 2px);
  min-width: -webkit-calc(100% + 2px);
  min-width: -moz-calc(100% + 2px);
  min-width: -ms-calc(100% + 2px);
  overflow: hidden;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-select-tab {
  display: block;
  height: 31px;
  position: relative;
  overflow: hidden;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-select-tab > div {
  display: block;
  height: 30px;
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  font-size: 0;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-select-tab > div a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  font-size: 13px;
  padding: 0 15px;
  color: #333;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-select-tab > div .active {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-left-color: #ccc;
  border-right-color: #ccc;
  color: #58b5f3;
  margin-top: 1px;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list {
  display: block;
  height: 100% !important;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 10px;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list > ul {
  display: none;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list > .active {
  display: block;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province {
  padding: 10px 0;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li:hover {
  background: #fff !important;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li {
  padding-left: 40px;
  position: relative;
  font-size: 12px;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li > span {
  color: #333 !important;
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  line-height: 25px;
  text-align: right;
  width: 35px;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li > ul {
  display: block;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li > ul::after {
  display: block;
  content: "";
  clear: both;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li > ul > li {
  display: block;
  float: left;
  padding: 0 10px;
  color: #333;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li > ul > li:hover {
  background: #e9f6ff;
  color: #58b5f3;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-list .eui-pc-region-province > li > ul > .active {
  background: #58b5f3 !important;
  color: #fff !important;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-city {
  display: block;
  font-size: 12px;
  padding: 10px;
  height: auto;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-city::after {
  content: "";
  display: block;
  clear: both;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-city > li {
  display: block;
  float: left;
  padding: 0 10px;
  color: #333;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-city > li:hover {
  background: #e9f6ff;
  color: #58b5f3;
}
.eui-pc-region .eui-drop-down-list .eui-pc-region-city > .active {
  background: #58b5f3 !important;
  color: #fff !important;
}
.elmerTheme .eui-drop-down,
.elmerTheme .eui-pc-region {
  border: 1px solid #ebebeb;
  background: #fff;
  box-shadow: 0 1px 6px rgba(238, 237, 237, 0.4) inset;
  -webkit-box-shadow: 0 1px 6px rgba(238, 237, 237, 0.4) inset;
  -moz-box-shadow: 0 1px 6px rgba(238, 237, 237, 0.4) inset;
  -ms-box-shadow: 0 1px 6px rgba(238, 237, 237, 0.4) inset;
  -o-box-shadow: 0 1px 6px rgba(238, 237, 237, 0.4) inset;
}
.elmerTheme .eui-drop-down > div > i,
.elmerTheme .eui-pc-region > div > i {
  color: #999;
}
.elmerTheme .eui-drop-down > div > div > span,
.elmerTheme .eui-pc-region > div > div > span {
  color: #d4d4d4;
}
.elmerTheme .eui-drop-down:hover,
.elmerTheme .eui-pc-region:hover {
  border-color: #5fb6f0;
  box-shadow: 0 0 3px rgb(221, 220, 220);
  -webkit-box-shadow: 0 0 3px rgb(221, 220, 220);
  -moz-box-shadow: 0 0 3px rgb(221, 220, 220);
  -ms-box-shadow: 0 0 3px rgb(221, 220, 220);
  -o-box-shadow: 0 0 3px rgb(221, 220, 220);
}
.elmerTheme .eui-drop-down:hover > div > i,
.elmerTheme .eui-pc-region:hover > div > i {
  color: #5fb6f0;
}
.elmerTheme .eui-drop-down:hover .eui-drop-down-list,
.elmerTheme .eui-pc-region:hover .eui-drop-down-list {
  border-color: #5fb6f0;
  box-shadow: 1px 3px 3px rgb(221, 220, 220);
  -webkit-box-shadow: 1px 3px 3px rgb(221, 220, 220);
  -moz-box-shadow: 1px 3px 3px rgb(221, 220, 220);
  -ms-box-shadow: 1px 3px 3px rgb(221, 220, 220);
  -o-box-shadow: 1px 3px 3px rgb(221, 220, 220);
}
.elmerTheme .eui-drop-down:hover .eui-drop-down-list ul li div,
.elmerTheme .eui-pc-region:hover .eui-drop-down-list ul li div {
  color: #333;
}
.elmerTheme .eui-drop-down .eui-drop-down-list,
.elmerTheme .eui-pc-region .eui-drop-down-list {
  border-color: #ebebeb;
  background: #fff;
  box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -webkit-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -moz-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -ms-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -o-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
}
.elmerTheme .eui-drop-down .eui-drop-down-list .eui-drop-down-item-active,
.elmerTheme .eui-pc-region .eui-drop-down-list .eui-drop-down-item-active {
  background: #b0dfff;
  color: #fff;
}
.elmerTheme .eui-drop-down .eui-drop-down-list .eui-drop-down-item-active > div,
.elmerTheme .eui-pc-region .eui-drop-down-list .eui-drop-down-item-active > div,
.elmerTheme .eui-drop-down .eui-drop-down-list .eui-drop-down-item-active > div i,
.elmerTheme .eui-pc-region .eui-drop-down-list .eui-drop-down-item-active > div i,
.elmerTheme .eui-drop-down .eui-drop-down-list .eui-drop-down-item-active > div span,
.elmerTheme .eui-pc-region .eui-drop-down-list .eui-drop-down-item-active > div span {
  color: #fff;
  text-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  -webkit-text-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  -moz-text-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  -ms-text-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  -o-text-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
}
.elmerTheme .eui-drop-down .eui-drop-down-list li > div,
.elmerTheme .eui-pc-region .eui-drop-down-list li > div,
.elmerTheme .eui-drop-down .eui-drop-down-list li > div span,
.elmerTheme .eui-pc-region .eui-drop-down-list li > div span {
  color: #333;
}
.elmerTheme .eui-drop-down .eui-drop-down-list li > div > i,
.elmerTheme .eui-pc-region .eui-drop-down-list li > div > i {
  color: #5fb6f0;
}
.elmerTheme .eui-drop-down .eui-drop-down-list li:hover,
.elmerTheme .eui-pc-region .eui-drop-down-list li:hover {
  background: #58b5f3;
  color: #fff;
}
.elmerTheme .eui-drop-down .eui-drop-down-list li:hover > div,
.elmerTheme .eui-pc-region .eui-drop-down-list li:hover > div,
.elmerTheme .eui-drop-down .eui-drop-down-list li:hover > div i,
.elmerTheme .eui-pc-region .eui-drop-down-list li:hover > div i,
.elmerTheme .eui-drop-down .eui-drop-down-list li:hover > div span,
.elmerTheme .eui-pc-region .eui-drop-down-list li:hover > div span {
  color: #fff;
}
.elmerTheme .eui-drop-down-focus,
.elmerTheme .eui-drop-down:focus {
  border-color: #58b5f3;
}
.elmerTheme .eui-drop-down-focus > div > i,
.elmerTheme .eui-drop-down:focus > div > i {
  color: #5fb6f0;
}
.elmerTheme .eui-drop-down-focus .eui-drop-down-list,
.elmerTheme .eui-drop-down:focus .eui-drop-down-list {
  border-color: #58b5f3;
  background: #fff;
  box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -webkit-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -moz-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -ms-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
  -o-box-shadow: 1px 2px 6px rgba(238, 237, 237, 0.4);
}
.elmerTheme .eui-drop-down-disabled {
  border-color: #ebebeb !important;
  background: #ebebeb !important;
  color: #999 !important;
}
.elmerTheme .eui-drop-down-item-disabled {
  background: transparent !important;
  color: #ddd;
}
.elmerTheme .eui-drop-down-item-disabled > div > i,
.elmerTheme .eui-drop-down-item-disabled > div > span {
  color: #ddd !important;
}
@keyframes kfDropdownShow {
  0% {
    transform: scaleY(0);
    opacity: 0.4;
  }
  90% {
    transform: scaleY(1.1);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes kfDropdownShow {
  0% {
    -webkit-transform: scaleY(0);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: scaleY(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.aniDropDownShow {
  transform-origin: top center;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  animation: kfDropdownShow 0.3s ease;
  -webkit-animation: kfDropdownShow 0.3s ease;
  -moz-animation: kfDropdownShow 0.3s ease;
  -ms-animation: kfDropdownShow 0.3s ease;
  -o-animation: kfDropdownShow 0.3s ease;
}
