<!--TemplateLoader=Text-->
<div em:show='this.state.visible' et:animationEnd="formAnimationEnd" et:click="onFormClick" id='{{formID}}' class='elmerDialogForm {{state.formAnimation}} {{state.theme|""}}' em:style="this.state.formStyle">
    <div et:mousedown='ontitleBarMouseDown' class='elmerDialogFormTitleBar {{state.titleTheme|""}}'>
        <span class='fa {{state.icon}}' class.eui-alert-no-icon="!state.showIcon">{{state.title}}</span>
        <ul class='elmerDialogFormTitleBarBtns'>
            <li em:if='this.state.showBarMin' et:click='onMinClick' class='elmerDialogFormTitleBarMin'></li>
            <li em:if='this.state.showBarMax' et:click='onMaxClick' class='elmerDialogFormTitleBarMax {{state.maxTheme}}'></li>
            <li em:if='this.state.showBarClose' et:click='btnClose' class='elmerDialogFormTitleBarClose'></li>
        </ul>
    </div>
    <div class='elmerDialogFormContent' class.elmerDialogFormContentNoBottom="!this.state.showBottom">
        <content></content>
    </div>
    <div em:if='this.state.showBottom' class='elmerDialogFormBottom {{props.bottomTheme}}'>[bottomHtmlCode]</div>
</div>