<div id="{{domID}}" class="eui-mobile-select" et:animationEnd="handleOnMaskAnimationEnd">
    <div et:click="handleOnMaskClick">
        <div et:click="handleOnContentClick"  id="{{contentID}}" class="eui-mobile-select-content">
            <div class="eui-mobile-select-header" et:touchstart="handleOnSearchTouch">
                <a et:click="handleOnCancelClick" et:touchstart="handleOnCancelClick" class="eui-mobile-select-cancel" href="javascript:void(0);">{{cancelText}}</a>
                <span em:show="!this.showSearch" >{{title}}</span>
                <div class="eui-mobile-select-search">
                    <input et:click="handleOnSearchClick" et:input="handleSearch" et:propertychange="handleSearch" aria-placeholder="{{searchPlaceHolder}}" placeholder="{{searchPlaceHolder}}" em:if="this.showSearch" type="search" />
                </div>
                <a et:click="handleOnOkClick" et:touchstart="handleOnOkClick" class="eui-mobile-select-ok" href="javascript:void(0);">{{okText}}</a>
            </div>
            <div class="eui-mobile-select-conent-area" passive="{{false}}"
                >
                <div id="{{listID}}"
                    et:touchstart="handleOnListMouseDown"
                    et:mousedown="handleOnListMouseDown"
                    passive="{{false}}"
                >
                    <ul
                        data-key="{{index}}"
                        em:for="let listData in this.data"
                        passive="{{false}}"
                        id="list_{{index}}"
                        >
                        <li em:for="let tmpOption in listData" data-value="{{tmpOption.value}}" data-key="{{tmpOption.key}}" class.disabled="{{tmpOption.disabled}}">{{tmpOption.title}}</li>
                    </ul>
                </div>
                <div id="{{focustID}}" class="eui-mobile-select-focus"></div>
                <div class="eui-mobile-select-mask-top"></div>
                <div class="eui-mobile-select-mask-bottom"></div>
            </div>
        </div>
    </div>
</div>
