<div class="CodeEditor CodeEditorDefault">
    <div>
        <div class="CodeEditorLines">
            <CodeEditorLineBar
                id="{{lineId}}"
                data="{{state.lineData}}"
                et:onLineClick="onLineClick"
                lineHeight="{{props.lineHeight}}"
            />
        </div>
        <div
            class="CodeEditorArea"
            id="{{editorId}}"
            class.editMode="this.props.isEdit"
            et:keydown="onKeyDown"
            passive="{{false}}"
        />
    </div>
</div>