::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background: rgba(10, 10, 10, 0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.24);
  visibility: hidden;
}
::-webkit-scrollbar-track::window-inactive {
  visibility: hidden;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.eui-treeview[treeview] {
  display: block;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.eui-treeview[treeview] ul,
.eui-treeview[treeview] ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
.eui-treeview[treeview] ul li {
  display: block;
}
.eui-treeview[treeview] ul li label {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid transparent;
}
.eui-treeview[treeview] ul li label > div {
  display: block;
  position: relative;
  padding-left: 20px;
  height: 25px;
  line-height: 25px;
}
.eui-treeview[treeview] ul li label > div > i {
  display: block;
  height: 25px;
  width: 20px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.eui-treeview[treeview] ul li label > div > img {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.eui-treeview[treeview] ul li label > div > span {
  display: inline-block;
  vertical-align: middle;
}
.eui-treeview[treeview] ul .eui-treeview-sub-child {
  margin-left: 20px;
}
.eui-treeview[treeview] > div {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.eui-treeview[treeview] > div > ul {
  margin-left: 0;
}
.elmerTheme .eui-treeview[treeview] ul li label i {
  color: #76bcf7;
}
.elmerTheme .eui-treeview[treeview] ul li label i:hover {
  background: rgba(221, 238, 250, 0.624);
}
.elmerTheme .eui-treeview[treeview] ul li label span {
  color: #333;
}
.elmerTheme .eui-treeview[treeview] ul li label:hover {
  background: rgba(232, 244, 253, 0.582);
  border-color: #eaf5fd;
}
.elmerTheme .eui-treeview[treeview] ul li .active,
.elmerTheme .eui-treeview[treeview] ul li .eui-treeview-item-selected {
  background: rgba(196, 227, 251, 0.521) !important;
  border-color: rgba(196, 227, 251, 0.473) !important;
}
.elmerTheme .eui-treeview[treeview] ul li .active i,
.elmerTheme .eui-treeview[treeview] ul li .eui-treeview-item-selected i {
  color: #333;
}
