<div class="web-admin-layout">
	<WebAdminTop />
	<div class="web-admin-main" class.hideLeftMenu="state.hideMenu eq true">
		<div class="web-admin-main-left">
			<WebLeftMenu data="{{props.menuList}}" et:onSwitchClick="handleOnMenuSwitchClick"/>
		</div>
		<div class="web-admin-main-right">
			<div></div>
		</div>
	</div>
	<div class="web-admin-botttom">
		<label>COPYRIGHT©2012    版权所有 北京**科技发展有限公司 </label>
		<span data-type="html"><i>如有疑问请您联系TEL：010-88312038-8015</i></span>
	</div>
</div>