<div class="web-admin-layout">
	<WebAdminTop et:onClose="handleOnCloseTab" et:onChange="handleOnTopMenuClick" menuList="{{state.openMenuList}}" selectedMenu="{{state.defaultOpenMenu}}"/>
	<div class="web-admin-main" class.hideLeftMenu="state.hideMenu eq true">
		<div class="web-admin-main-left">
			<WebLeftMenu et:onClick="handleOnLeftMenuClick" data="{{props.menuList}}" et:onSwitchClick="handleOnMenuSwitchClick"/>
		</div>
		<div class="web-admin-main-right">
			<div>
				<eui-webadmin-container
					em:for="let item in this.state.openMenuList"
					em:visible="item.id eq this.state.defaultOpenMenu.id"
					data="{{item}}"
					data-key="{{item.id}}"
					id="{{item.id}}"
				/>
			</div>
		</div>
	</div>
	<div class="web-admin-botttom">
		<label>{{props.webconfig.copyRight}} </label>
		<span><i>如有疑问请您联系TEL：{{props.webconfig.servicePhone}}</i></span>
	</div>
</div>