<div class="web-admin-left-area">
    <div class="web-admin-left-menu">
        <div class="web-admin-left-top">
            <div><img src="images/main/member.gif" width="44" height="44" /></div>
            <span>用户：admin<br>角色：超级管理员</span>
        </div>
        <div class="web-admin-sdmenu">
            <div em:for="let item in this.state.menuData" class.collapsed="item.isExpand neq true">
                <span et:click="handleOnMenuClick">{{item.name}}</span>
                <a
                    href="javascript:void(0);"
                    em:for="let subItem in item.data"
                    et:click="handleOnMenuItemClick"
                    class.active="subItem.key eq state.selectSubMenu.key"
                >{{subItem.title}}</a>
            </div>
        </div>
    </div>
    <div class="web-admin-switch-bar">
        <a
            et:click="handleOnSwitchBarClick"
            href="javascript:void(0);"
            class="web-admin-leftbar-btn"
            class.web-admin-leftbar-btn-right="state.hideMenu"
        />
    </div>
</div>