<!--禁止网页另存为-->
<div class="web-admin-header">
    <div class="web-admin-header-top">
        <div class="logo">
            <i class="webAdminLogo" />
        </div>
        <div class="topOperate">
            <h2 class="header-name">{{props.companyName}}</h2>
            <div class="header-right">
                <a href="javascript:void(0);" class="admin-out">{{props.loginoutName}}</a>
                <a href="javascript:void(0);" class="admin-home">{{props.adminHome}}</a>
                <a href="javascript:void(0);" class="admin-index">{{props.systemHome}}</a>
            </div>
        </div>
    </div>
    <div class="web-admin-header-bottom">
        <h5 class="header-admin">{{props.systemName}}</h5>
        <div class="header-menu">
            <div class="header-menu-container" id="topMenu">
                <div id="topMenuCT">
                    <a
                        em:for="let item in this.state.menuList"
                        href="javascript:void(0);"
                        class.menuon="state.selectedMenu.id eq item.id"
                        et:click="handleOnMenuItemClick"
                        title="{{item.title}}"
                    >{{item.title}}</a>
                </div>
            </div>
            <a href="javascript:void(0);" class="top-menu-btn action-close" et:click="handleOnCloseClick">×</a>
            <a href="javascript:void(0);" class="top-menu-btn action-top" et:click="handleOnScollTopClick"><span>∧</span></a>
            <a href="javascript:void(0);" class="top-menu-btn action-bottom" et:click="handleOnScollBottomClick"><span>∨</span></a>
        </div>
    </div>
</div>