<div class="test_list_area">
    <button et:click="onActionAdd" class="eui-button eui-button-default">Add</button>
    <button et:click="onActionDel" class="eui-button eui-button-primary">Remove</button>
    <ul>
        <li em:for="let item in this.data" key="{{item.index}}">
            <span>Test Item: {{item.title}} {{item.index}}</span>
            <button et:click="onDel" class="eui-button eui-button-primary">Del</button>
        </li>
        <li key="9">
            <span>For Demo Purpose</span>
        </li>
    </ul>
</div>