<eui-redux-provider reducers="{{reduxConfig}}">
    <div class="eui-desktop">
        <div class="eui-desktop-background">
            <canvas id="{{cavId}}" style="width:100%;height:100%;display:block;"></canvas>
        </div>
        <div class="eui-desktop-layout">
            <eui-desktop-win10
                em:if="props.template eq 'Win10'"
                startMenuList="{{props.mainMenuList}}"
                deskTopAppList="{{props.deskTopApp}}"
                autoRunAppList="{{props.autoRunAppList}}"
                quickStartMenu="{{props.quickStartMenu}}"
            />
            <eui-web-admin
                em:if="props.template eq 'WebAdmin'"
            />
        </div>
    </div>
</eui-redux-provider>